body 
{
	margin:0;
}
@font-face 
{
	font-family: 'glacial';
	font-weight:normal;
	src:url('../resource/GlacialIndifference-Regular.otf') format("opentype");
}
@font-face 
{
	font-family: 'glacial';
	font-weight:bold;
	src:url('../resource/GlacialIndifference-Bold.otf') format("opentype");
}
@font-face 
{
	font-family: 'carrois';
	font-weight:normal;
	src:url('../resource/CarroisGothic-Regular.ttf') format("truetype");
}
div.container
{
	background-image:url(../resource/moon_en2_pale.jpg);
	background-position: left center;
	background-size: cover;
	width:100%;
	height:100%;
	z-index: 1;
}
div.menu
{
    position:absolute; 
    top:50%;
    transform:translate(0,-50%); 
	left:1%;
    color: rgba(255,255,255,0.6);
    text-shadow: 0 0 5px rgba(255,255,255,0.6);
	font-family: 'glacial','Glacial Indifference','Calibri',sans-serif;
	font-size:125%;
	line-height:250%;
	z-index: 1;
}
div.remark
{
    position: fixed;
    bottom: 0;
    right: 0;
}
div.remark_bg
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
	background:#000;
	opacity: 0.4;
	z-index: 1;
}
div.remark_text
{
	position: relative;
	z-index: 5;
	color:#FAEAE0;
}
div.text
{
	position:fixed;
	left:33.7%;
	width:44.2%;
	overflow: auto;
	top:10%;
	height:80%;
	font-family: 'carrois','Carrois Gothic',sans-serif;
	line-height:150%;
	font-size:125%;
	text-shadow: 0px 0px 3px rgba(255,255,255,1);
}
h1
{
	font-size:175%;
	font-weight:bold;
}
h2
{
	font-size:125%;
	font-weight:bold;
	margin-left:1em;
}
p.small
{
	font-size:100%;
	margin-left:3em;
}
div.footnote
{
	font-size:75%;
	text-indent:2em;
}
p.footnote
{
	margin: 0.25ex;
}
span.stress
{
	font-style: italic;
}
div.quote
{
	padding-left:8em;
}
.myname
{
	font-size:125%;
	font-weight: bold;
}
a:link 
{
	text-decoration: none;
    color: rgba(255,255,255,0.6);
    text-shadow: 0 0 5px rgba(255,255,255,0.6);
}
a:visited 
{
	text-decoration:none;
    color: rgba(255,255,255,0.6);
    text-shadow: 0 0 5px rgba(255,255,255,0.6);
}
a:hover 
{
	color:#FAEAE0;
	text-shadow: 0px 0px 5px #FAEAE0;
}
a.remark:link
{
	color:#87CDA8;
}
figure 
{
    display: inline-block;
	top:20%;
	position:fixed;
	left:82%;
	margin:0;
	z-index:5;
}
img#slice
{
	cursor:pointer;
	width:5vw;
}
div.texture
{
	position:fixed;
	bottom:10%;
	height:80%;
	left:82%;
	width:5%;
	background-image: url("../resource/dark-mosaic.png");
	background-repeat: repeat;
	z-index:3;
}
figcaption
{
	font-size:70%;
	font-family:'Calibri',sans-serif;
	text-align: center;
	text-shadow: 0 0 15px rgba(255,255,255,1);
	text-decoration:underline;
	text-color:#182243;
	cursor:pointer;
	width:5vw;
}
.noblur
{
	z-index:5;
}
.blur
{
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
	z-index:4;
}
div.shader
{
	position:fixed;
	height:100%;
	width:100%;
	background: black;
    opacity: 0.4;
    filter: alpha(opacity = 40); /* required for opacity to work in IE */
	top:0;
	left:0;
	z-index:6;
}
img.large
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height:90%;
	z-index:11;
	cursor:pointer;
}
img.largeblur
{
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
	z-index:9;
}
a.inlink:link 
{
    color:#274289;
	text-decoration: none;
}
a.inlink:visited 
{
    color: #274289;
	text-decoration: none;
}
a.underlink
{
	color:black;
	text-decoration: underline;
}
a.underlink:visited 
{
    color: black;
	text-decoration: underline;
}
a.underlink:hover
{
    color: #274289;
}